fastapi
uvicorn
python-dotenv==1.0.0
prisma
langchain==0.1.0
langchain-google-genai==0.0.6
langchain-core
langchain-text-splitters
langchain-community
chromadb==0.4.22
python-multipart
httpx
pydantic
PyPDF2
Pillow
pytesseract
google-generativeai
faiss-cpu
requests
python-jose
passlib
bcrypt