fastapi
uvicorn
python-dotenv
prisma==0.11.0
PyPDF2
Pillow
pytesseract
requests
python-multipart
httpx
pydantic==2.5.0
google-generativeai==0.3.2
langchain==0.1.16
langchain-core==0.1.52
langchain-community==0.0.32
langchain-google-genai==0.0.9
langchain-text-splitters==0.0.1
chromadb==0.4.15
protobuf<5.0.0
faiss-cpu==1.7.4